
.main-content {
  background-color: #333;
  padding: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  width: 70%;
  align-items: center;
}

.input {
  width: 1000px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #1a1a1a;
}

.input-container {
  margin-top: 20px;
  text-align: center;
}

.input-container label {
  display: inline-block;
  margin-right: 10px;
}

.input-container input {
  display: inline-block;
  width: 50%;
}

.input-container button {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

button {
  font-size: 20px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.kanji-container,
.simplified-container,
.traditional-container {
  width: 30%;
  text-align: center;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.kanji-container h2,
.simplified-container h2,
.traditional-container h2 {
  font-size: 15px;
}

.kanji-container p,
.simplified-container p,
.traditional-container p {
  font-size: 35px;
}

.kanji-container:hover,
.simplified-container:hover,
.traditional-container:hover {
  transform: scale(1.05);
}

.info-container {
  width: 60%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.info-container.animate {
  opacity: 1;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}