
.main-content {
  background-color: #333;
  padding: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  width: 70%;
  align-items: center;
}

.input {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.input-container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.input-container label {
  display: inline-block;
  margin-right: 10px;
}

.input-container input {
  display: inline-block;
  width: 50%;
}

.input-container button {
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

button {
  font-size: 20px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-top: 20px;
}

.chinese-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 65%;
  justify-content: center;
}

.japanese-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 35%;
  margin-right: 10px;
}

.sub-chinese-column {
  display: flex;
  flex: 1;
  width: 100%;
  position: relative;
}

.kanji-container,
.hanzi-container, 
.information {
  text-align: center;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.information {
  flex: 1;
  margin-top: 5px;
  background-color: #1a1a1a;
  height: fit-content;
  margin: 2px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out forwards; 
}

.information.active {
  display: block;
  opacity: 1;
}

.information h3 {
  font-size: 30px;
  font-weight: lighter;
}

.hanzi-types-container {
  display: flex;
  justify-content: space-evenly;
}

.kanji-types-container,
.traditional-container, 
.simplified-container {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  margin-inline: 10px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kanji-types-container {
  width: 100px;
}

.kanji-types-container:hover,
.traditional-container:hover,
.simplified-container:hover {
  transform: scale(1.05);
}

.kanji-container h2,
.hanzi-container h2 {
  font-size: 20px;
}

.kanji-container h3,
.hanzi-container h3 {
  font-size: 15px;
}

.kanji-container p,
.hanzi-container  {
  font-size: 35px;
}

.kanji-container:hover,
.hanzi-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.information p {
  font-size: 15px;
}

.character-info {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.readings {
  margin-top: 10px;
}

.readings-info {
  border: 1px solid #ccc;
  padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
