body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #BB86FC;
}

.page {
  border-radius: 8px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  border-radius: 8px;
  background-color: #272626;
  padding: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  width: 70%;
}

.error-message {
  margin-top: 10px;
  background-color: #444444;
  padding: 10px;
  width: 250px;
  text-align: center;
}

button {
  background-color: #8860b8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #bb86FC;
}

input {
  padding: 10px;
  width: 60%;
  margin-bottom: 20px;
  background-color: #444444;
  color: #fff;
  border: none;
}

h1 {
  color: #BB86FC;
  font-size: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ddd;
}

p {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

a:hover {
  color: #8860b8;
}