body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #BB86FC;
}

.page {
  border-radius: 8px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  border-radius: 8px;
  background-color: #302f314f;
  padding: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  width: 70%;
}

.error-message {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #444444;
  padding: 10px;
  width: 250px;
  text-align: center;
}

button {
  background-color: #8860b8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #bb86FC;
}

input {
  padding: 10px;
  width: 60%;
  background-color: #444444;
  color: #fff;
  border: none;
}

h1 {
  color: #BB86FC;
  font-size: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ddd;
}

p {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

a:hover {
  color: #8860b8;
}

.ipa-output-container {
  width: 90%;
  text-align: center;
  padding: 10px
}

.zhuyin-output-container {
  width: 90%;
}

#user-input,
#zhuyin-output,
#ipa-output {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.modes {
  display: flex;
  background-color: #212022;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modes p {
  font-size: 1rem;
}

.input-container-conversion {
  padding: 20px;
  display: flex;
  background-color: #1a1a1a;
  width: 90%;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.output-container-conversion {
  padding: 20px;
  width: 90%;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

input {
  padding: 8px;
  font-size: 1rem;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 0px;
}

.mode-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mode-info p {
  padding: 10px;
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  margin: 0px;
  margin-top: 0px;
}

.user-input {
  background-color: #404040; 
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 100%;
}

.user-input p {
  margin: 0px;
}

#user-input,
#output {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

.user-output {
  background-color: #1a1a1a; 
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}